root = true

[*.{php,css,json,js,yml,yaml,html,py}]
end_of_line = lf
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.php,*.py]
indent_size = 4

[*.{js,css,json,yml,yaml}]
indent_size = 2

